/* Hoja de Estilos */

/* Importacion Tipografia/s Google @import */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* Selector Universal- Cumple la funcion de resetear propiedades que vienen aplicadas por default -Afecta a todo el html- Siempre va a rriba de todo, abajo del @import*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;

}


/* font-size: 1rem;1rem = la unidad absoluta que se establecio en el root y si el root no tiene nada establecido, es lo que tiene establecido el navegador en su configuracion, por defecto 16px*/
/*
orden de prioridad del em:
1- tamaño de fuente definida en el elemento especifico
2- tamaño de fuente definida en el elemento padre
3- tamaño de fuente definido en el root o en el navegador.

ejemplo: si a un elemento le coloco 1em
    <p style="font-size: 1em;">Texto</p>
si se encuentra dentro de un div, y el div tiene establecido un font-size de 20px entonces el parrafo mide 20px, si el div que envuelve el parrafo no tiene establecido ningun tamano de fuente entonces toma el del navegador que por defecto son 16px

orden de prioridad del rem:
El rem SIEMPRE se relaciona con la fuente raiz, no con la fuente actual del elemento
Ejemplo: 
si el root o el navegador tiene establecido 20px y el parrafo tiene establecido 1.5rem entonces el parrafo va a medir 30px es 1.5 veces el tamaño de la fuente raiz.
Si en la fuente raiz no se establecio ningun tamaño fijo entonces se toman 16px que es el valor por defecto del navegador.

Cuando usar rem:
Usa rem para los parrafos(& títulos) para respetar el tamaño que establecio el usuario por defecto en su navegador
ventajas:accesibilidad, consistencia y flexibilidad. 
Cuando usar em: 
Cuando queres que un elemento tenga un tamaño relativo a su padre, 
por ejemplo queres que todas los hijos de un navegador tengan tamaños relativos a su padre el header, entonces el ancla es cierto porcentaje de lo que el header tiene establecido en su fuente, los iconos igual.
Ventajas:
Se ajusta automaticamente a la fuente del padre
hay una relacion directa entre hijos y padres

*/

/* Selector de Etiquetas */

body {
    background-color: #FDFDFD;
    overflow-x: hidden;
    /* Evita el scroll horizontal en la página */

}

h1 {
    font-weight: 700;
    font-size: 2.8rem;
    text-align: center;
    line-height: 1.5;
    color: #282322;
}

h2 {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    line-height: 1;
    color: #282322;

}

h3 {
    font-weight: 700;
    font-size: 1.2rem;
    color: #282322;

}

h4 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1;
    color: #282322;

}

/* Salto de linea con Span */
.break {
    display: block;

}


/* Excepciones Tipografia */

.textBold {
    font-weight: 700;
}

.textWhite {
    color: #FDFDFD;

}

.textAlignLeft {
    text-align: left;
}

.textDisplayHero {
    font-size: 5rem;
    line-height: 1;
    margin-bottom: 30px;
}

.textDisplay {
    font-size: 3rem;
    line-height: 1;

}


/*Header*/
.header {
    width: 100%;
    background-color: #FDFDFD;
    font-size: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 12px 0px #d1d1d1;
    overflow-x: hidden;
    /* Evita el scroll horizontal en la página */



    .containerLogo {

        .logoHeader {
            width: 100px;
        }

    }


    .navHeader {
        padding-left: 20px;


        .ulHeader {
            width: 100%;
            list-style: none;
            display: flex;
            justify-content: flex-end;
            gap: 24px;

            .listItem {

                .linkHeader {
                    text-decoration: none;
                    color: #5E5251;
                    font-size: 2em;


                }
            }
        }
    }
}


/* Index */
/* Hero */

.sectionHero {
    background-image: url(../assets/img/hero-skincare.png);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    font-size: 10px;
    color: #FDFDFD;
    padding: 80px 80px 80px 80px;
    overflow: auto;


    .containerTextHero {
        text-align: left;
        font-size: 10px;
        color: #FDFDFD;
        width: 45%;

        p {
            font-size: 3em;
            line-height: 1, 5;
            margin-bottom: 40px;
        }

        a {
            font-weight: 600;
            text-decoration: none;
            color: #FDFDFD;
            font-size: 2em;
            margin-bottom: 40px;
            display: inline-block;
        }

    }
}


@media (max-width: 768px) {
    .sectionHero {
        height: auto;
        padding: 40px 20px;
        flex-direction: column;
        text-align: center;
        font-size: 10px;

        .textDisplayHero {
            font-size: 3rem;
            margin-bottom: 20px;
        }

        .containerTextHero {
            width: 100%;
            text-align: left;
            padding-right: 300px;

            p {
                font-size: 2em;
                line-height: 1;
                margin-bottom: 20px;
                text-align: left;

                a {
                    font-size: 0.1em;
                }
            }
        }
    }

    
    
}

@media (max-width: 480px) {

    .sectionHero {
        padding: 20px;
        font-size: 10px;
    }

    .containerTextHero p {
        font-size: 0.1em;
        margin-bottom: 15px;
    }

    .containerTextHero a {
        font-size: 1em;
    }

    .textDisplayHero {
        font-size: 2rem;
    }
}

/*Productos Bestseller */
.bestsellers {
    margin: 60px 80px 60px 80px;

    .sectionHeadingH2 {

        margin-bottom: 40px;
        margin-inline: auto;

        h2 {
            margin-bottom: 10px;
        }

        p {
            text-align: center;


        }
    }

    .sectionProducto {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;

        .itemProducto {

            display: inline-block;
            padding-right: 10px;
            padding-left: 10px;

            h3 {
                margin-top: 10px;
                margin-bottom: 5px;
            }

            h4 {
                margin-bottom: 10px;
            }

            img {
                width: 350px;
                border-radius: 16px;
            }



        }

    }
}




/* Crea tu Rutina */
.rutina {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* ----------------------------- */
/* Sección Izquierda             */
/* ----------------------------- */
.sectionRutinaIzq {
    background-image: url('../assets/img/jocelyn-morales-JiqTLjzEH18-unsplash.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    /* Ocupa la mitad del ancho */
}

.sectionRutinaIzq .logoOverlay {
    width: 220px;
    margin-inline: auto;
    opacity: 80%;
    margin: 0 auto;
    align-items: center;
}

/* ----------------------------- */
/* Sección Derecha               */
/* ----------------------------- */
.sectionRutinaDer {
    background-color: #F8E6E4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    width: 50%;
    /* Ocupa la mitad del ancho */
    padding: 60px;
}

.sectionRutinaDer .sectionHeadingRutina {
    font-size: 10px;
    width: 70%;
    margin-inline: auto;
}

.sectionRutinaDer .sectionHeadingRutina .textDisplay {

    font-size: 3rem;
    line-height: 1;
    margin-bottom: 20px;
    text-align: left;
}

.sectionRutinaDer .sectionHeadingRutina p {
    font-size: 2em;
    line-height: 1.5;
    margin-bottom: 16px;
    text-align: left;
}

.sectionRutinaDer .btnSecondaryContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
}

.sectionRutinaDer .btnSecondaryContainer .btnSecndaryCont1,
.sectionRutinaDer .btnSecondaryContainer .btnSecndaryCont2 {
    margin: 0px 0;
}

/* MEDIAQUERIES RUTINA */

@media (max-width: 1200px) {
    .rutina {
        flex-direction: column;
        font-size: 10px;
    }

    .sectionRutinaDer .sectionHeadingRutina .textDisplay {
        font-size: 2.5rem;
        line-height: 1;
        margin-bottom: 20px;
        text-align: left;
    }
    .sectionRutinaIzq,
    .sectionRutinaDer {
        width: 100%;
        padding: 20px;
    }

    .sectionRutinaDer {
        padding: 40px;
    }

    .sectionRutinaDer .sectionHeadingRutina p {
        font-size: 1.8em;
        margin-bottom: 10px;
    }
    .sectionRutinaDer .btnSecondaryContainer {
        display: flex;
        flex-direction: row;
        gap: 24px;
      
    }
    
    
}

@media (max-width: 992px) {
    .rutina {
        flex-direction: column;
        font-size: 10px;
    }

    .sectionRutinaIzq,
    .sectionRutinaDer {
        width: 100%;
        padding: 16px;
    }

    .sectionRutinaDer {
        padding: 40px;
    }
    .sectionRutinaDer .sectionHeadingRutina .textDisplay {
        font-size: 2.2rem;
        line-height: 1;
        margin-bottom: 20px;
        text-align: left;
    }

    .sectionRutinaDer .sectionHeadingRutina p {
        font-size: 1.8em;
        margin-bottom: 16px;
    }
    .sectionRutinaDer .btnSecondaryContainer {
        display: flex;
        flex-direction: row;
        gap: 24px;
      

    }
    
}


@media (max-width: 768px) {
    .rutina {
        flex-direction: column;
        font-size: 10px;
    }

    .sectionRutinaIzq,
    .sectionRutinaDer {
        width: 100%;
        padding: 12px;
    }

    .sectionRutinaDer {
        padding: 40px;
    }
    .sectionRutinaDer .sectionHeadingRutina .textDisplay {
        font-size: 2.3rem;
        line-height: 1;
        margin-bottom: 20px;
        text-align: left;
    }

    .sectionRutinaDer .sectionHeadingRutina p {
        font-size: 1.3em;
        margin-bottom: 8px;
    }
}

@media (max-width: 480px) {
    .rutina {
        flex-direction: column;
        font-size: 10px;
    }
    .sectionRutinaIzq .logoOverlay {
        width: 180px;
        padding-top: 100px;
    }

    .sectionRutinaDer .sectionHeadingRutina p {
        font-size: 1.3em;
        line-height: 1.4;
        margin-bottom: 8px;
    }

    .sectionRutinaDer {
        padding: 12px;
    }

}

.sectionRutinaDer .sectionHeadingRutina .textDisplay {
    font-size: 2.4rem;
    line-height: 1;
    margin-bottom: 20px;
    text-align: left;
}


.sectionRutinaDer .btnSecondaryContainer .btnSecondary{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap:12px;
    height: initial;
    padding: 16px 20px;
    font-size: 1.4em;
}

.sectionRutinaDer .btnSecondaryContainer .btnSecondaryOutlined{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap:12px;
    height: initial;
    padding: 16px 20px;
    font-size: 1.4em;
}
/* ______________________________________ */




/* Cuidado Específico */
.cuidadoCuerpo {
    margin: 60px 80px 60px 80px;

    .sectionHeadingH2 {

        margin-bottom: 40px;
        margin-inline: auto;

        h2 {
            margin-bottom: 10px;
        }

        p {
            text-align: center;


        }
    }

    .sectionItemsCuerpo {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;

        .itemCuerpo {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-right: 10px;
            padding-left: 10px;

            img {
                width: 250px;
                height: 250px;
                border-radius: 42px;
                object-fit: cover;
            }



        }

    }

}



/* Footer */

.footer {
    font-size: 10px;
    padding-top: 20px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 100%; */
    /* align-items: center; */

    .sectionTopFooter {
        background-color: #d1aba7;
        color: #282322;
        width: 100%;
        padding: 40px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;

        .headingTopFooter {
            text-align: center;
            padding-bottom: 20px;
        }

        .formSuscribe {
            text-align: center;
        }
    }

    .sectionBodyFooter {
        width: 100%;
        background-color: #282322;
        color: #B5AFAD;
        padding: 30px 60px;
        margin-inline: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;

        .containerLogoFooter {
            /* width: 20%; */
            flex-grow: 1;
            display: flex;
            justify-content: center;

            .logoFooter {
                width: 100%;
            }
        }

        .mapaSitioFooter,
        .itemsSitioFooter,
        .contactoFooter {
            /* width: 20%; */
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* Centrando el contenido en cada columna */
            text-align: left;

            ul {
                list-style: none;
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: left;
                text-align: left;

                li {
                    a {
                        font-weight: 600;
                        text-decoration: none;
                        color: #B5AFAD;
                        font-size: 1.5em;
                        line-height: 1.8;
                    }
                }
            }
        }

        .redesFooter {
            /* width: 20%; */
            flex-grow: 1;
            display: flex;
            justify-content: center;

            ul {
                list-style: none;
                padding: 0;
                display: flex;
                gap: 16px;
                /* Espacio entre los iconos */

                li {
                    a {
                        text-decoration: none;
                        color: #B5AFAD;
                        font-size: 1.5em;

                        .fa-instagram,
                        .fa-tiktok,
                        .fa-facebook {
                            font-size: 1.5em;
                            color: #B5AFAD;
                        }
                    }
                }
            }
        }
    }

    .sectionBottomFooter {
        background-color: #282322;
        color: #B5AFAD;
        width: 100%;
        padding: 10px 60px;
        text-align: center;

        p {
            font-size: 1.5em;
            margin: 20px 0;
        }
    }

    .fa-whatsapp {
        font-size: 3em;
        color: #FDFDFD;
        background-color: #25d366;
        padding: 0.6em;
        border-radius: 100%;
        position: fixed;
        bottom: 30px;
        right: 30px;
    }
}

/* MEDIAQUERIES FOOTER */

@media screen and (max-width: 992px) {
    .footer {
        flex-direction: column;
        height: initial;

        .sectionBodyFooter {
            flex-direction: column;
            justify-content: space-between;
            height: initial;
            padding: 24px 40px 16px 40px;


            .containerLogoFooter {
                display: none;
            }

            .mapaSitioFooter,
            .itemsSitioFooter,
            .contactoFooter {
               
                align-items: center;
                /* Centrando el contenido en cada columna */
                text-align: center;

                ul {
                    list-style: none;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    text-align: center;
                    margin-bottom: 8px;

                    li {
                        a {
                            font-weight: 600;
                            text-decoration: none;
                            color: #B5AFAD;
                            font-size: 1.6em;
                            line-height: 1.5;
                        }
                    }
                }
            }
            .redesFooter {
                /* width: 20%; */
                justify-content: space-evenly;
    
                ul {
                    margin-top: 16px;
                    justify-content: space-between;
                    align-items: flex-start;
                    gap: 24px;
                    /* Espacio entre los iconos */
    
                    li {
                        a {
                            text-decoration: none;
                            color: #B5AFAD;
                            font-size: 1.7em;
    
                            .fa-instagram,
                            .fa-tiktok,
                            .fa-facebook {
                                font-size: 1.7em;
                                color: #B5AFAD;
                            }
                        }
                    }
                }
            }

        }

    .sectionBottomFooter {
        padding: 0px 40px;
      
        p {
            font-size: 1.2em;
        }
    }

    }
}


@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        height: initial;

        .sectionBodyFooter {
            flex-direction: column;
            justify-content: space-between;
            height: initial;
            padding: 24px 40px 16px 40px;


            .containerLogoFooter {
                display: none;
            }

            .mapaSitioFooter,
            .itemsSitioFooter,
            .contactoFooter {
               
                align-items: center;
                /* Centrando el contenido en cada columna */
                text-align: center;

                ul {
                    list-style: none;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    text-align: center;
                    margin-bottom: 8px;

                    li {
                        a {
                            font-weight: 600;
                            text-decoration: none;
                            color: #B5AFAD;
                            font-size: 1.3em;
                            line-height: 1.5;
                        }
                    }
                }
            }
            .redesFooter {
                /* width: 20%; */
                justify-content: space-evenly;
    
                ul {
                    margin-top: 16px;
                    justify-content: space-between;
                    align-items: flex-start;
                    gap: 24px;
                    /* Espacio entre los iconos */
    
                    li {
                        a {
                            text-decoration: none;
                            color: #B5AFAD;
                            font-size: 1.5em;
    
                            .fa-instagram,
                            .fa-tiktok,
                            .fa-facebook {
                                font-size: 1.5em;
                                color: #B5AFAD;
                            }
                        }
                    }
                }
            }

        }

    .sectionBottomFooter {
        padding: 0px 40px;
      
        p {
            font-size: 1.2em;
        }
    }

    }
}

/* _____________________________________ */





/* Tienda */

.sectionHeadingH1 {

    margin-top: 60px;
    /* margin-bottom: 10px; */
    margin-inline: auto;

    h1 {
        margin-bottom: 4px;
    }

    p {
        text-align: center;

    }
}


.categoriasTienda {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .containerCategoria {
        margin: 20px 60px 20px 60px;

        .categoriaHeading {
            font-size: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 40px;
            margin-bottom: 24px;
        }

        .tarjetasCategoria {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 24px;
            justify-content: space-between;
            margin: 0 auto;


            .tarjetaProducto {
                img {
                    width: 330px;
                    height: auto;
                    object-fit: cover;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }

                box-shadow: 0px 0px 6px 1px #d6d6d6da;
                border-radius: 20px;

                h3 {
                    margin-bottom: 4px;
                }

                h4 {
                    margin-bottom: 10px;
                }

                .textoTarjeta {
                    margin: 12px;

                }
            }
        }
    }
}



/* Carrito */

.sectionTabla {
    font-weight: 10px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* Centrar el contenido verticalmente */
    justify-content:flex-start;

}

#miTabla {
    width: 100%; /* Asegura que las columnas respeten el contenedor */
    margin: 24px 64px 24px 64px;
}


@media all and (max-width: 699px) {

    #miTabla {
        margin: 24px 16px 24px 16px;
    }
 }


@media all and (max-width: 500px) {
    #miTabla {
        margin: 24px 8px 24px 8px;
    }
 }


/* Contacto */
.formContainer {
    font-weight: 10px;
    padding: 10px;
    margin: 0 auto; /* Centra horizontalmente */
    max-width: 600px; /* Controla el ancho del contenedor */
    border-radius: 8px;
    display: flex;
    align-items: center; /* Centrar el contenido verticalmente */
    justify-content: center; /* Centrar el contenido horizontalmente */
    
}

#miFormulario {
    width: 100%; /* Asegura que las columnas respeten el contenedor */
    margin: 24px 24px 48px 24px;
}


/* 
.formContacto {
    display: flex;
    flex-direction: column;
} */

label {
    margin-top: 10px;
    color: #666;
}

input,
textarea {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #604444;
}


/* BOTONES */

.full-width-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;

}

/* Button Primary Filled */

.btnPrimary {
    font-size: 1em;
    font-weight: 700;
    padding: 20px 30px;
    color: #FDFDFD;
    background-color: #DB9191;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    max-width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.btnPrimary:hover {
    background-color: #C88080;
    text-decoration: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btnPrimary:focus {
    outline: 2px solid #DB9191;
    outline-offset: 2px;
    text-decoration: none;
}


.btnPrimaryGhost {
    font-size: 1em;
    font-weight: 700;
    padding: 20px 30px;
    color: #DB9191;
    background-color: #FDFDFD;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    max-width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.btnPrimaryGhost:hover {
    background-color: #FDFDFD;
    border-color: #DB9191;
    border-width: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btnPrimaryGhost:focus {
    outline: 2px solid #DB9191;
    outline-offset: 2px;
    text-decoration: none;
}


/* Boton Secondary */

.btnSecondary {
    font-size: 1.5em;
    font-weight: 700;
    padding: 20px 30px;
    color: #FDFDFD;
    background-color: #282322;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    max-width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btnSecondary:hover {
    background-color: #433B39;
    text-decoration: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


.btnSecondaryOutlined {
    font-size: 1.5em;
    font-weight: 700;
    padding: 20px 30px;
    color: #282322;
    border: 2px solid #282322;
    border-radius: 50px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgba(255, 255, 255, 0);
}

.btnSecondaryOutlined:hover {
    background-color: #deccca;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.001);
}

.btnSecondaryOutlinedSpecial {
    font-size: 1.8em;
    border: 2px solid #db919100;
    color: #DB9191;
    padding: 16px 16px;
}

.btnSecondaryOutlinedSpecial:hover {
    font-size: 1.8em;
    border: 2px solid #DB9191;
    transition: background-color 0.1s ease, box-shadow 0.1s ease;
    color: #DB9191;
    border-radius: 8px;
    background-color: #deccca00;
}

.btnSuscribe {
    font-size: 0, 8em;
    font-weight: 600;
    padding: 10px 20px;
    color: #FDFDFD;
    background-color: #282322;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    max-width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}